* {
    font-size: 1em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
}

.jumbotrom {
    padding: 5em;
    background-color: rgb(200, 199, 199);
    color: white;
    font-size: 1.2em;
    margin: 1em 0;
}