.navbar {
    font-size: 1em;
    display: flexbox;
    flex-direction: column;
    justify-content: center;
}

.navbar .navbar-list {
   display: flex;
   flex-direction: row;
   padding: 1em;
   background-color: black;
}

.navbar .navbar-list .navbar-item {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar .navbar-list .navbar-item a {
    text-decoration: none;
    padding: 1em;
    margin: 1em;
    color: white;
}

.navbar .navbar-list .navbar-item a:hover {
    background-color: rgb(29, 28, 28);
}